.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#content-wrap {
  padding-bottom: 2.5rem;    
}

.header {
  display: block; 
  width: 100%; 
  text-align: center;
}

#quote {
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

#makeup {
  border: 50px solid rgb(226, 205, 250);
}

#colors {
  border: 50px solid rgb(205, 250, 229);
}

#face {
  border: 50px solid rgb(250, 250, 205);
}

.navbar {
  overflow: hidden;
  background-color: rgb(173, 169, 245);
}

.navbar a {
  text-align: center;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #ddd;
  color: white;
}

.header_images {
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: space-around;
}

.category {
  display:block; 
  width:100%; 
  text-align:center;
}

.dropdown {
  display:block; 
  width:100%; 
  text-align:center;
}

#brand-name {
  font-weight: bold;
}

#price {
  margin-top: 15px;
  font-weight: bold;
  width: 175px;
}

#product-type {
  margin-top: 15px;
  font-weight: bold;
  width: 175px;
}

#tags {
  margin-top: 15px;
  font-weight: bold;
  width: 175px;
}

#product-name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 28%;
  margin-right: 28%;
  border: 4px dotted black;
}

.prdimg {
width: 150px;
height: auto;
}

.prdname {
display: inline-block;
text-align: center;
margin-bottom: 0;
}

.prdprice {
  display: inline-block;
  margin-top: 0;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;     
  background: rgb(173, 169, 245);  
}
