/* styling for enitre document */
.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

/* styling for main content */
#content-wrap {
  flex: 1 1 auto;
}

/* Border around application name */
.header {
  border-width: 5px;  
  border-style: dotted solid;
} 

/* Application Name - The Beauty Bar */
#title {
  font-family: 'Playfair Display', serif;
  letter-spacing: 35px; 
  font-size: 35px;
  font-weight: bold;
  display: flex; 
  justify-content: center;
  margin: 0 auto;
  width: 100%; 
}

/* Application Quote - located on bottom of page */
#quote {
  display: flex;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  overflow: hidden;
  border: 10px;
  background-color: rgb(173, 169, 245);
  height: 4rem; 
}

/* Navbar Text - category */
#category {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 20px;
} 

/* Navbar category - brand name*/
#brand-name {
  width: 190px;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

/* Navbar category - price */
#price {
  width: 190px;
  font-size: 15px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: bold;
}

/* Navbar category - product type */
#product-type {
  font-weight: bold;
  width: 190px;
  font-size: 15px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

/* Navbar category - ingredients list */
#tags {
  font-weight: bold;
  width: 190px;
  font-size: 15px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

/* main page title display - bE */
#body-title {
  font-size: 25px;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: 5px;
}

/* Descriptors regarding price, brands, etc.  
/* located underneath title */
.body-descriptions {
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  text-align: center;
} */

/* Images displayed on page */
.header_images {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

/* makeup brushes image */
#brushes {
  display: flex;
  align-content: flex-end;
  padding: 10px;
  border: 20px solid rgb(234, 220, 250);
}

/* creative face image */
#face {
  display: flex;
  align-content: flex-end;
  padding: 10px;
  border: 20px solid rgb(250, 250, 205);
}

/* lipstick image */
#lipstick {
  display: flex;
  align-content: flex-end;
  padding: 10px;
  border: 20px solid rgb(236, 159, 154);
}

 /* Product Display - Image, Name, & Price */
#beauty-product {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.product {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border: 3px solid rgb(173, 169, 245);
  width: 22%;
}

.prdimg {
width: 150px;
height: auto;
padding-top: 20px;
}

.prdname {
display: flex;
flex-direction: column;
font-family: 'Playfair Display', serif;
text-align: center;
margin-bottom: 0;
font-size: 15px;
}

.prdprice {
  display: inline-block;
  font-family: 'Playfair Display', serif;
  margin-top: 0;
  font-size: 15px;
}

/* Back to Top Button */
#topBtn {
  display: none;
  position: fixed;
  bottom: 82px;
  right: 0;
  z-index: 80;
  font-size: 18px;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: rgb(194, 192, 192);
}

/* Connect Links - LinkedIn and GitHub */
.connect {
  display: flex;
  align-items: left;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  text-decoration: underline; 
}

.icons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  height: 40px;
  padding: 10px;
}

/* Footer */
.footer {
  bottom: 0;
  width: 100%;
  background: rgb(173, 169, 245);  
}
#copy {
  text-align: center;
  font-family: 'Playfair Display', serif;
  text-align: left;
  font-weight: bold;
  margin-bottom: 40px;
}

/* Media Queries for Responsive Design */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) {
    #title {
      font-family: 'Playfair Display', serif;
      letter-spacing: 15px; 
      font-size: 30px;
      text-align: center;
    }
    .navbar {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      height: auto;
    }
    .header_images {
      flex-direction: column;
    }
    #beauty-product {
      flex-direction: column;
      align-items: center;
    }
    .product {
      border: none;
  }
}

@media only screen 
  and (min-device-width: 540px) 
  and (max-device-width: 1024px) {
    .header_images {
      flex-direction: column;
      align-items: center;
    }
  }


